<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="tests">

    <test name="API DISTRIBUIDORES">
        <classes>
            <class name="org.testing.example.DistribuidoresRunner"/>
        </classes>
    </test>

    <test name="API PRODUCTOS">
        <classes>
            <class name="org.testing.example.ProductosRunner"/>
        </classes>
    </test>
</suite>